<Page>
    <GridLayout *ngIf="isRendering" class="page">
        <StackLayout #otpDialog modal style.zIndex="999" size="lg" alignment="top" duration="100">
            <GridLayout rows="auto, auto" columns="*" borderRadius="5" sdkExampleTitle sdkToggleNavButton
                backgroundColor="white" width="90%">
                <SearchBar row="0" hint="Search country" (textChange)="onTextChanged($event)"
                    (submit)="onSubmitL($event)" color="black" textFieldBackgroundColor="white"
                    textFieldHintColor="#757575"></SearchBar>
                <ListView row="1" [items]="myItems" class="list-group" height="90%" width="100%"
                    backgroundColor="white">
                    <ng-template let-item="item">
                        <GridLayout class="item list-group-item" (tap)="onItemTap(item)" columns="auto, auto"
                            backgroundColor="white" width="100%">
                            <Image class="country" col="0" width="10%" horizontalAlignment="right"
                                [src]="'res://'+item.code.toLowerCase()"></Image>
                            <Label col="1" marginLeft="5%" [text]="item.name" color="#757575"></Label>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
        </StackLayout>
        <GridLayout width="100%" height="100%" rows="auto,auto" backgroundColor="#f1f1f1">

            <GridLayout row="0" columns="*,auto,*" backgroundColor="black" width="100%" height="8%">
                <StackLayout style="box-sizing:border-box;" paddingLeft="6%" paddingRight="1%" width="11.5%"
                    height="60%" backgroundColor="transparent" col="0" verticalAlignment="middle"
                    horizontalAlignment="left">
                    <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                </StackLayout>

                <StackLayout margin="10" col="1" verticalAlignment="middle" backgroundColor="transparent"
                    horizontalAlignment="center">
                    <Label text="EDIT MY ACCOUNT INFO" color="white"></Label>
                </StackLayout>
                <StackLayout margin="10" col="1" verticalAlignment="middle" horizontalAlignment="center">
                </StackLayout>
            </GridLayout>

            <GridLayout width="100%" height="58%" marginTop="2%" row="1" class="input-field"
                rows="auto, auto, auto, auto, auto, auto,auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
                <TextField row="0" height="12%" [text]="firstName" marginLeft="5%" hint="First Name (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="firstNameTextField($event)">
                </TextField>
                <StackLayout row="1" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <TextField row="2" height="12%" [text]="lastName" marginLeft="5%" hint="Last Name (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="lastNameTextField($event)">
                </TextField>
                <StackLayout row="3" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <TextField row="4" height="12%" [text]="email" marginLeft="5%" hint="Email (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="emailTextField($event)">
                </TextField>
                <StackLayout row="5" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <TextField row="6" height="12%" [text]="phone" marginLeft="5%" hint="Phone Number (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="phoneTextField($event)">
                </TextField>
                <StackLayout row="7" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>
                <ActivityIndicator #activityIndicator row="6" [busy]="isBusy" horizontalAlignment="center"
                    verticalAlignment="middle" class="activity-indicator"></ActivityIndicator>

                <TextField row="8" height="12%" [text]="address" marginLeft="5%" hint="Address Line (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="addressTextField($event)">
                </TextField>
                <StackLayout row="9" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <TextField row="10" height="12%" [text]="city" marginLeft="5%" hint="City (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="cityTextField($event)">
                </TextField>

                <StackLayout row="11" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <Label class="text-left country-label" height="12%" color="#646464" marginTop="1%" fontSize="18"
                    (tap)="openOtpDialog()" row="12" [text]="selectedCountry!=''?selectedCountry:'Select Country (*)'"
                    marginLeft="5%"></Label>
                <StackLayout row="13" verticalAlignment="middle" height="2px" width="90%" backgroundColor="#f1f1f1">
                </StackLayout>

                <TextField row="14" height="12%" [text]="pinCode" marginLeft="5%" hint="Post/Zip code (*)"
                    style.placeholderColor="#646464" autocorrect="false" (textChange)="pinTextField($event)">
                </TextField>
            </GridLayout>

        </GridLayout>

        <StackLayout verticalAlignment="bottom" height="9%" width="100%" backgroundColor="red">
            <Button class="login-button" horizontalAlignment="stretch" text="Submit" (tap)="onSubmit()" height="100%"
                width="100%"></Button>
        </StackLayout>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>

    </GridLayout>

    <GridLayout *ngIf="isLoading" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>

    </GridLayout>

</Page>