TextField {
  border-width: 0 0 .7 0;
  border-bottom-color: transparent;
}

.iconTextField {
  box-sizing: border-box;
  vertical-align: middle;
}

.page {
  background-position: center;
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  filter: blur(5px);
}

.navigate-back-button {
  horizontal-align: left;
  background-image: url("res://ic_back");
  background-repeat: no-repeat;
  padding-left: 20%;
  padding-right: 20%;

  background-position: center;
  box-sizing: border-box;
}


.navigate-back-button:active {
  horizontal-align: left;
  background-image: url("res://ic_back_focus");
  background-repeat: no-repeat;
  padding-left: 20%;
  padding-right: 20%;
  background-position: center;
  box-sizing: border-box;
}

.register-logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-container {
  background: transparent;
  border-radius: 10;
}

.logo {
  height: 90;
  font-weight: bold;
}

.header-name {
  horizontal-align: center;
  font-size: 25;
  text-align: center;
  color: white;
}

.header-detail {
  horizontal-align: center;
  font-size: 15;
  text-align: center;
  margin-bottom: 10;
  color: #74bfff;
}

.logo-container {
  margin-top: 30%;
  margin-bottom: 10;
}

.inputActive {
  font-size: 15;
  placeholder-color: #A8A8A8;
  border-bottom-color: #233f5a;
  border-bottom-width: 2;
}

.inputInactive {
  font-size: 15;
  placeholder-color: #A8A8A8;
  border-bottom-color: #A8A8A8;
  border-bottom-width: 1;
}

.input:disabled {
  background-color: white;
  opacity: 0.5;
}

.user-button {
  width: 50%;
}

.btn-employee {
  height: 40;
  width: 80%;
  background-color: #233f5a;
  border-radius: 10;
  font-size: 15;
  color: white;
}

.btn-student {
  height: 40;
  width: 80%;
  border-radius: 10;
  font-size: 15;
  color: #233f5a;
  border-color: #233f5a;
  border-width: 1;
}

.login-button {
  border-radius: 20;
  background-color: #D40000;
  color: white;
  width: 80%;
  /* z-index: 0; */
}

.login-button:active {
  color: white;
  background-color: #4f4f4f;
}

.profile-button {
  margin-top: 15;
  margin-bottom: 15;
}

.btn-primary {
  height: 40;
  width: 40%;
  background-color: #ee9a68;
  border-radius: 10;
  font-size: 15;
}

.btn-primary:disabled {
  opacity: 0.5;
}

.bold {
  color: #000000;
}

.activity-indicator-container {
  horizontal-align: center;
  vertical-align: center;
}

.activity-indicator {
  width: 50;
  height: 50;
  horizontal-align: center;
}

.text-label {
  color: white;
}

.labels {
  color: white;
  vertical-align: middle
}

.labelsActive {
  color: red;
  vertical-align: middle
}

.redirect-button {
  horizontal-align: right;
  background-image: url("res://icon_arrow_right");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.redirect-button:active {
  horizontal-align: right;
  background-image: url("res://icon_arrow_right");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}