<StackLayout height="100%" width="100%" backgroundColor="#d3d3d3">

    <StackLayout margin="10" height="97%" backgroundColor="white">

        <ScrollView height="100%" weight="100%">
            <StackLayout>

                <Label textWrap="true" marginLeft="5" marginRight="5" marginTop="10">
                    <FormattedString>
                        <Span fontSize="14"
                            text="Streaming music, or more accurately streaming audio, is a way of delivering sound — including music — without requiring you to download files from the internet."></Span>
                    </FormattedString>
                </Label>

                <Label textWrap="true" marginTop="20" marginLeft="5" marginRight="5">
                    <FormattedString>
                        <Span fontSize="14"
                            text="In the past, if you wanted to listen to music or any other type of audio, you downloaded an audio file in a format such as MP3, WMA, AAC, OGG, or FLAC. However, when you use a streaming delivery method, there's no need to download a file. You can start listening through a device or smart speakers almost immediately."></Span>
                    </FormattedString>
                </Label>
<!-- 
                <Label textWrap="true" marginTop="20" marginLeft="5" marginRight="5">
                    <FormattedString>
                        <Span text="DJ Rick Geez " fontSize="16" fontWeight="Bold"></Span>
                        <Span fontSize="14"
                            text="is a talented and hard working man. He has been recognized by some of the industry greats including Producer/Singer Pharell Williams, and the legendary Grand Master Flash. His intensity to rock a crowd is what separates him from the rest of the DJ's out there. In the future look for Rick Geez to continue to rock stadiums, expand to different radio stations around the world, and continue to win fans over through his mixing."></Span>
                    </FormattedString>
                </Label> -->
            </StackLayout>

         
        </ScrollView>


    </StackLayout>

</StackLayout>
