@keyframes fav {
    0% {
        transform: scale(0, 0)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    100% {
        transform: scale(1, 1)
    }
}

.navigation_button {
    horizontal-align: left;
    background-image: url("res://ic_back");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.action-bar-icon {
    height: 35;
    width: 35;
}

.action-bar-label {
    background-color: black;
}

.videoPlayButton {
    width: 15%;
    vertical-align: middle;
    horizontal-align: center;
    background-color: transparent;
    opacity: 0.5;
    background-image: url('res://icon_video_play');
    background-repeat: no-repeat;
}

.videoPlayButton:active {
    background-color: transparent;
    opacity: 0.5;
    background-image: url('res://icon_video_play_hover');
    background-repeat: no-repeat;
}

.header-name {
    height: 50%;
    width: 100%;
    font-size: 25;
    text-align: center;
    color: white;
}

.track-thumb {
    vertical-align: top;
}

.track-name {
    vertical-align: middle;
}

.song-cover {
    margin-top: -50px;
}

.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}

.favicon {
    width: 20%;
    height: 85%;
    background-image: url('res://fav_white');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4%;
    animation-name: fav;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    /* background-image: url('res://favourite_white'); */
    /* animation-name: fav;
    animation-duration: 1s;
    animation-timing-function: ease-in; */
    /* animation-iteration-count: infinite; */
}

.videoshare {
    width: 20%;
    height: 85%;
    background-image: url('res://icon_share_video');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4%;
    /* background-image: url('res://favourite_white'); */
    /* animation-name: fav;
    animation-duration: 1s;
    animation-timing-function: ease-in; */
    /* animation-iteration-count: infinite; */
}

.videocomment {
    width: 20%;
    height: 85%;
    background-image: url('res://ic_video_comment');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4%;
    /* background-image: url('res://favourite_white'); */
    /* animation-name: fav;
    animation-duration: 1s;
    animation-timing-function: ease-in; */
    /* animation-iteration-count: infinite; */
}

.favicon-clicked {
    background-image: url('res://fav_red');
    width: 20%;
    height: 85%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4%;
    animation-name: fav;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
}
