<StackLayout orientation="vertical" height="100%" width="100%">

    <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#f1f1f1" rows="auto, auto, auto, auto"
        columns="auto">
        <GridLayout row="0" marginTop="5%" width="100%" height="20%" rows="auto, auto, auto, auto, auto"
            backgroundColor="white" orientation="vertical">
            <StackLayout row="0" marginLeft="10%" marginTop="10%" width="100%" (tap)="onAccountInfo()">
                <Label class="title" text="EDIT MY ACCOUNT INFO"></Label>
            </StackLayout>

            <StackLayout row="1" marginLeft="10%" width="100%" (tap)="onAccountInfo()">
                <Label class="description" text="Change account information"></Label>
            </StackLayout>

            <StackLayout row="2" marginTop="10%" verticalAlignment="middle" width="90%" height="1%"
                backgroundColor="#f1f1f1">
            </StackLayout>

            <StackLayout row="3" marginLeft="10%" marginTop="10%" width="100%" (tap)="onChangePassword()">
                <Label class="title" text="CHANGE PASSWORD"></Label>
            </StackLayout>

            <StackLayout row="4" marginLeft="10%" width="100%" (tap)="onChangePassword()">
                <Label class="description" text="Change Password Authentic"></Label>
            </StackLayout>

        </GridLayout>

        <StackLayout row="1" backgroundColor="white" height="8%" marginTop="35%" width="100%">
            <Label class="logoutLabel" textAlignment="center" marginTop="35%" text="LOG OUT"></Label>
        </StackLayout>

        <StackLayout row="2" height="8%" width="100%">
            <Label class="description" color="#cc3333" marginTop="35%" textAlignment="center"
                text="Delete Account"></Label>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>

    </GridLayout>

</StackLayout>