.page {
    align-items: center;
    flex-direction: column;
}

.scrollForm {
    flex-grow: 2;
}

.activity-indicator {
    width: 50;
    height: 50;
    horizontal-align: center;
}

.fab-button-container {
    horizontal-align: center;
    vertical-align: bottom;
    background-color: transparent;
    height: 8%;
    width: 100%;
}

.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.videoPlayButton {
    background-color: transparent;
    opacity: 0.5;
    background-image: url('res://icon_video_play');
    background-repeat: no-repeat;
}

.videoPlayButton:active {
    background-color: transparent;
    opacity: 0.5;
    background-image: url('res://icon_video_play_hover');
    background-repeat: no-repeat;
}

.header-detail {
    height: 50%;
    width: 100%;
    font-size: 15;
    text-align: center;
    margin-bottom: 10;
    color: #74bfff;
}



.option-image {
    width: 50;
    height: 50;
}


.option-label {
    font-size: 14;
    color: white;
}

.stack-logo {
    height: 100;
    margin-top: 30;
    width: 100;
    border-radius: 10;
    align-items: center;
    align-content: center;
}

.stack-logo-image {
    height: 80;
    width: 80;
}

.border-line {
    height: 2;
    background-color: #74bfff;
}

.login-container {
    background-color: #233f5a;
    width: 100%;
    height: 110;
    align-self: flex-end;
}

.btn-login {
    height: 40;
    width: 40%;
    margin-top: 10;
    margin-bottom: 10;
    background-color: #ee9a68;
    border-radius: 10;
    font-size: 15;
    color: white;
}




.card {
    background-color: #ffffff;
    z-index: 0;
}

.card-layout {}

.card-layout .h1 {
    margin-bottom: 15;
}

.gerne {
    horizontal-align: right;
}

.body {
    font-size: 11;
}

.dfgg {
    color: #d0d3d400;
}