@import '~nativescript-theme-core/css/core.dark.css';

.btn {
   font-size: 18;
}

.fa {
   font-family: "FontAwesome";
}

.page-content .page-placeholder {
   color: #D7D7D7;
   font-size: 20;
   vertical-align: center;
   horizontal-align: center;
}
.page-content .page-icon {
   font-size: 72;
   vertical-align: top;
   horizontal-align: center;
   color: #D7D7D7;
   margin-top: 20%;
}

.sidedrawer {
   margin-bottom: -100;
}

button {
   font-size: 15;
   horizontal-align: center;
}

.drawerContentText {
   font-size: 13;
   padding: 10;
}

.drawerContentButton {
   margin: 10;
   horizontal-align: left;
}

.sideStackLayout {
   background-image: url("res://img_background_slide_menu");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.sideTitleStackLayout {
   height: 56;
   text-align: center;
   vertical-align: center;
}

.sideLabel {
   padding: 10;
}

.sideLightGrayLabel {
   background-color: lightgray;
}

.sideHeader{
   background-color: transparent;
   font-size: 18;
   color: white;
   vertical-align: middle;
   z-index: 0;
   horizontal-align:center;
}

.sideHeader:active{
   background-color: transparent;
   font-size: 18;
   color: #cc3333;
   z-index: 0;

   vertical-align: middle;
   horizontal-align:center;
}


.drawer-option-label{
   color:white;
 }

 .drawer-header{
     background-image: url("res://img_header_slide_menu");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .drawer-setting-button{
     background-image: url("res://icon_setting");
     background-repeat: no-repeat;
     background-position: center;
     height: 25%;
     width: 25%;
     margin-top: 30%;

     vertical-align: top;
     background-color: transparent;

 }

 .drawer-logout-button{
   background-image: url("res://icon_account_logout");
   background-repeat: no-repeat;
   background-position: center;
   height: 25%;
     width: 25%;
     margin-top: 30%;
     vertical-align: top;
     background-color: transparent;
}

.drawer-display-pic{
   border-radius: 50%;
   width:95%;
   height: 95%;
   margin-top: 8%;
   margin-bottom: 6%;
   border-width: 1;
   border-color: #42a1ff;
}




 .action-bar-icon-search{
   background-image: url('res://search');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 50%;
   width: 10%;
}

.action-bar-icon-search:active{
   background-image: url('res://search_focus');
}



.action-bar-icon{
   background-image: url('res://ic_menu');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 50%;
   width: 10%;
}

.action-bar-icon:active{
   background-image: url('res://ic_menu_focus');
}

.action-bar-label {
   background-color: black;
}

.action-bar{
   width:100%;
   height: 100%;
   align-items: center;
   background: transparent;
}

.header-name{
   height:50%;
   width:100%;

   font-size: 25;
   text-align: center;
   color: white;
}

.navigate-back-button{
   horizontal-align:left;
   background-image: url("res://ic_back");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}